{% extends 'base.html' %}

{% block header %}
    <div class="jumbotron text-center">
         <h1>{% block title %} Dashboard {% endblock %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container ">
        <div class="btn-group col-md-12 align-items-center">
            <div class="col-md-1">
                <form method="POST" action="/dashboard/buttonURL" id="urlForm" enctype="application/json">
                    <input type="submit" value="URL's" class="btn btn-primary">
                </form>
            </div>
            <div class="col-md-1">
                <form method="POST" action="/dashboard/buttonRestricoes" id="urlForm" enctype="application/json">
                    <input type="submit" value="Restricoes" class="btn btn-primary">
                </form>
            </div>
            <div class="col-md-1">
                <form method="POST" action="/dashboard/buttonOutput" id="urlForm" enctype="application/json">
                    <input type="submit" value="Output" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
    {% if  buttonPressed|int()  == 0 %}
        <div class="container bg-success">
            <div class ="col-md-6">
                <hi>URL's</hi>
                <ul>
                    {% for url in urls %}
                        <li>{{url.urlpath}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class ="col-md-6">
                <hi>Status</hi>
                <ul>
                    {% for url in urls %}
                        {% if url.status_type == "Not processed" %}
                            <div class="w3-text-red">
                        {% elif url.status_type == "Processing" %}
                            <div class="w3-text-blue">
                        {% else %}
                            <div class="w3-text-green">
                        {% endif %}
                                <li>{{url.status_type}}</li>
                            </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% if  buttonPressed|int()  == 1%}
        <div class="container bg-success">
            <div class ="col-md-4">
                <hi>Expressoes Regulares</hi>
                <ul>
                    {% for re in regexp %}
                        <li>{{re.regex_rule}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class ="col-md-4">
                <hi>Imagens</hi>
                <ul>
                    {% for image in images %}
                        <li>{{image.image_rule}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class ="col-md-4">
                <hi>Aprendizado de Maquina</hi>
                <ul>
                    {% for mlrule in mlrules %}
                        <li>{{mlrule.model_path}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% if  buttonPressed|int()  == 2 %}
        <div class="container bg-success">
            <div class ="col-md-4">
                <hi>URL's</hi>
                <ul>
                    {% for url in urls %}
                        <li>{{url.urlpath}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class ="col-md-2">
                <hi>Restrição</hi>
                <ul class="list-group">
                    {% for url in urls %}
                        {% if url.restriction %}
                        <div class="w3-text-green">
                            <li list-group-item-success>True</li>
                        {% else %}
                        <div class="w3-text-red">
                            <li list-group-item-danger>False</li>
                        {% endif %}
                    </div>
                    {% endfor %}
                </ul>
            </div>
            <div class ="col-md-6">
                <hi>Razões</hi>
                <ul>
                    {% for url in urls %}
                        <li>{{url.reasons}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="col-md-12">
        <h1>Callback: </h1>
    </div>
{% endblock %}
